@charset "UTF-8";

.info-2fa-bg {
  display: grid;
  height: auto;
  max-width: 1080px;
  margin: 120px auto 50px auto;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.info-2fa-img {
  justify-content: center;
  align-items: center;
  grid-row: 1 / 5;
  grid-column: 2;
}

.info-2fa-img img {
  max-width: 500px;
  margin: 0 auto;
  align-self: flex-start;
}

.titulo {
  grid-column: 1 / -1;
  margin-bottom: 30px;
  font-size: 3rem;
}

.titulo-0 {
  margin-bottom: 30px;
  font-size: 3rem;
}

.titulo::after,
.titulo-0::after {
  display: block;
  content: '';
  width: 90px;
  height: 3px;
  background-color: #29abe2;
}

.h2-azul {
  color: #29abe2;
  margin: 5px 0;
}

.h2-2 {
  margin-bottom: 30px;
}

.info-2fa p {
  margin-bottom: 30px;
}

.funcao ul {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 50px;
}

.funcao li {
  margin: 15px 0;
}

.funcao li::before {
  display: inline-block;
  margin: 5px 15px 5px 0;
  content: '';
  width: 15px;
  height: 3px;
  background-color: #29abe2;
}

.funcao li strong {
  font-size: 1.2rem;
  color: #29abe2;
}

.info2-2fa {
  max-width: 1080px;
  margin: 0 auto 50px auto;
}

.diferente {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 1.5rem;
}

.diferente strong {
  font-size: 1.5rem;
  color: #29abe2;
}

.como-funciona {
  display: grid;
  grid-template-columns: 400px 400px;
  max-width: 1080px;
  margin: 0 auto 50px auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.como-funciona img {
  max-height: 200px;
  margin: 0 auto 20px auto;
}

.como-funciona p {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.passo1,
.passo4 {
  background: linear-gradient(180deg, #29abe2 0%, #0a6288 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  height: 400px;
  padding: 20px;
}

.passo2,
.passo3 {
  background: var(--produto);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  height: 400px;
  padding: 20px;
}

.passo1 p,
.passo2 p,
.passo3 p,
.passo4 p {
  color: #ffffff;
}

.beneficios {
  max-width: 1080px;
  margin: 0 auto 50px auto;
}

.quem-usa2-h1 {
  max-width: 1080px;
  margin: 0 auto;
}

.quem-usa {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto 120px auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 0.9rem;
}

.lista-quem-usa {
  background: var(--produto);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: grid;
  width: 250px;
  height: 310px;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #29abe2;
}

.lista-quem-usa h3 {
  color: #29abe2;
  font-size: 1.2rem;
}

.lista-quem-usa li {
  margin-left: 10px;
  color: #ffffff;
  line-height: 1.3;
}

.quem-usa img {
  display: inline-block;
  max-width: 50px;
  margin: 0 5px;
  border-radius: 50px;
  border: 1px solid #cdcdcd;
}

.img-quem-usa {
  display: inline-block;
  justify-self: center;
  align-self: flex-end;
}

/* MEDIA QUERY */
@media (max-width: 1120px) {
  .info-2fa-bg,
  .info2-2fa,
  .quem-usa2,
  .como-funciona,
  .beneficios {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 900px) {
  .como-funciona {
    display: grid;
    grid-template-columns: 400px;
  }
}


@media (max-width: 800px) {

  .info-2fa-img {
    display: none;
  }

  .info-2fa-bg {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .como-funciona {
    grid-template-columns: 300px;
  }

  .como-funciona img {
    max-height: 150px;
  }

  .passo1 p,
  .passo2 p,
  .passo3 p,
  .passo4 p {
    font-size: 1rem;
  }

  .passo1,
  .passo2,
  .passo3,
  .passo4 {
    height: 350px;
  }
}

@media (max-width: 480px) {
  .titulo,
  .titulo-0 {
    font-size: 2rem;
  }
}
