@charset "UTF-8";

:root {
  --body-bg: #ffffff;
  --body-color: #222222;
  --fundo-img: #ffffff;
  --produto: linear-gradient(180deg, #313131e5 0%, #000000 100%);
}

body.darkmode {
  --body-bg: #222222;
  --body-color: #ffffff;
  --fundo-img: #303030;
  --produto: linear-gradient(180deg, #1a1a1a7a 0%, #00000074 100%);
}

/*reset*/
body,
h1,
h2,
p,
ul,
a {
  margin: 0px;
  padding: 0px;
  color: var(--body-color);
}

/*ao add padding não soma e sim diminui o conteúdo*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--body-bg);
}

p {
  letter-spacing: 1.4px;
  line-height: 135%;
}

/*img com max do seu tamanho e responsiva*/
img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#btn-mobile {
  display: none;
}
