// Botões

// Títulos
.titulo {
  font-size: 38px;
  position: relative;
  margin-bottom: 40px;

  // TABLET
  @include mq(m) {
    font-size: 28px;
    margin-bottom: 30px;
  }

  // MOBILE
  @include mq(s) {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 90px;
    height: 1px;
    background: $cor_terciaria;
    position: absolute;
    left: 0;
    bottom: -5px;
  }
}

.titulo-blocos {
  font-size: 24px;
  position: relative;
  margin-bottom: 20px;
}

//Form
label {
  display: block;
  margin-top: 15px;
  color: var(--body-color);
}

input {
  padding: 10px 20px;
  margin-top: 5px;
  border-radius: 5px;
  border: 2px solid #0d4e7c;
  text-align: left;
}

input:hover {
  border: 2px solid #cd2131;
}

.compensa-header {
  padding-top: 88px;
}

h2 {
  margin-bottom: 10px;
}

.h2-azul {
  color: $cor_terciaria;
  margin-bottom: 0;
}

.hide-desktop {
  // DESKTOP
  @include mq(l) {
    display: none;
  }
}

.hide-tablet {
  // TABLET
  @include mq(m) {
    display: none;
  }
}

.hide-mobile {
  // MOBILE
  @include mq(s) {
    display: none;
  }
}

.btn-primario {
  color: #fff6f9;
  padding: 10px 20px;
  margin-top: 20px;
  background: linear-gradient(180deg, #e83142 0%, #cd2131 100%);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    background: linear-gradient(180deg, #b72735 0%, #851621 100%);
  }
}

.btn-secundario {
  color: #fff6f9;
  padding: 10px 20px;
  margin-top: 20px;
  background: linear-gradient(180deg, #196499 0%, #0d4e7c 100%);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    background: linear-gradient(180deg, #0a4773 0%, #073d63 100%);
  }
}
