.menu-bg {
  background: linear-gradient(180deg, #3477a7 0%, #0d4e7c 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;

  .container {
    overflow: visible !important;
  }
}

.menu {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.menu-logo img {
  max-width: 200px;

  // MOBILE
  @include mq(s) {
    max-width: 140px;
  }
}

.menu-nav {
  display: inline-block;
  margin-left: 0px;
  justify-self: center;
  align-self: center;

  // TABLET
  @include mq(m) {
    display: none;
  }

  // MOBILE
  @include mq(s) {
    display: none;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
    color: #ffffff;
  }

  a {
    padding: 3px;
    text-decoration: none;
    position: relative;
    color: #ffffff;
    transition: 0.3s ease-in-out;

    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 0;
      background-color: $cor_terciaria;
      margin-top: 4px;
      transition: 0.3s;
      position: absolute;
    }

    &:hover {
      color: $cor_terciaria;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.log {
  padding-left: 60px;
}

.dark {
  align-self: center;
  margin-left: 10px;
  width: 30px;
  height: 30px;

  // TABLET
  @include mq(m) {
    margin-left: 30px;
  }

  // MOBILE
  @include mq(s) {
    margin-left: 30px;
  }
}

.dark img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dark button {
  background-color: #ffffff00;
  border: 2px solid #ffffff;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
}

.dark button:hover {
  border: 2px solid $cor_terciaria;
}

.mobile-menu-icon {
  display: none;
  position: absolute;
  right: -10px;

  // TABLET
  @include mq(m) {
    display: inline-block;
    right: 0px;
  }

  // MOBILE
  @include mq(s) {
    display: inline-block;
    right: 0px;
  }
}

// Botão
.btn-mobile {
  display: inline-block;
  width: 40px;
  height: 2px;
  background: #fff;
  position: relative;

  &::before,
  &::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: 0.3s ease-out;
  }

  &::before {
    top: -10px;
    left: 0;
  }

  &::after {
    bottom: -10px;
    left: 0;
  }
}

.btn-mobile.ativo {
  background: transparent;
  &::before {
    transform: rotate(-135deg);
    top: 0;
  }
  &::after {
    transform: rotate(135deg);
    bottom: 0;
  }
}

.mobile-menu {
  display: inline-block;
  position: absolute;
  right: 0px;
  width: 250px;
  height: 0vh;
  background: #222;
  z-index: 9999;
  transition: 0.3s ease-in-out;
  overflow: hidden;

  ul {
    text-align: left;
    width: 100%;
  }

  li {
    padding: 15px 30px;
    color: #fff;
    font-size: 18px;
  }

  a {
    color: #fff;
  }
}

.mobile-menu.open {
  height: 100vh;
}

.dropdown {
  position: relative;
  height: auto;
  cursor: pointer;
}

// 2 Level
.fdx-menu-2-level {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  width: 250px;
  padding: 15px 0 !important;
  border-radius: 6px;
  background: #222;
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0) translate3d(0, -10px, 0);
  transform-origin: top left;
  transition: 0.3s ease;
  gap: 0 !important;

  // Ponta
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    left: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 10px 15px;
    border-color: transparent transparent #222 transparent;
  }
  &::after {
    content: '';
    display: none;
    position: absolute;
    z-index: -1;
    top: -25px;
    left: 0;
    width: 100%;
    height: 25px;
  }

  // Item
  li {
    width: 100%;

    &:hover {
      border-left: 1px solid $cor_primaria;
    }

    // Link
    a {
      padding: 10px 20px;
      color: #fff;
      display: inline-block;
      width: 100%;
      height: auto;

      &:after {
        display: none;
      }
    }
  }
}
.dropdown:hover .fdx-menu-2-level {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1) translate3d(0, 0, 0);

  &::after {
    display: block;
  }
}
