@charset "UTF-8";

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--fundo-img);
  max-width: auto;
  justify-content: center;
  align-items: center;
  height: auto;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  gap: 50px;
}

.form-image {
  max-width: 400px;
  margin: auto auto;
}

.form {
  max-width: 600px;
  padding: 0px 50px 0px 0px;
}

.input-group {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.group {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.group label {
  display: block;
  text-align: left;
  margin-top: 10px;
  font-size: 1rem;
}

.group input {
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid #0d4e7c;
  text-align: left;
}

.group input:hover {
  border: 2px solid #cd2131;
}

.birth-input1 {
  text-align: left;
  margin: 0px;
}

.gender-inputs {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gender-itens {
  display: grid;
  grid-template-columns: 185px 185px;
  gap: 1rem;
  justify-content: center;
  margin: 20px auto;
}

.gender-itens p {
  grid-column: 1 / 3;
  justify-self: start;
}

.gender-box1 {
  text-align: left;
}

.gender-box2 {
  text-align: left;
}
.cadastrar input {
  font-size: 1rem;
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 30px 50px 30px;
  background: linear-gradient(180deg, #e83142 0%, #cd2131 100%);
  color: #fff6f9;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.cadastrar input:hover {
  background: linear-gradient(180deg, #b72735 0%, #851621 100%);
}

@media (max-width: 800px) {

  .form-image {
    display: none;
  }

  .form {
    display: flex;
    margin: 55px;
    padding: 0;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
  }

  .group input {
    font-size: 1.2rem;
    padding: 5px;
  }

  .group label {
    margin-top: 20px;
  }

  .conteudo {
    display: flex;
  }

  .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
  }

  .gender-itens {
    grid-template-columns: auto 1fr;
    gap: 0.2rem;
    margin-top: 20px;
  }

  .gender-input {
    padding: 10px;
  }

  .gender-box1 {
    margin: 0px;
  }

  .container {
    height: auto;
  }
}
