@charset "UTF-8";

.google-verified {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1080px;
  margin: 120px auto 50px auto;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.google-verified-img {
  max-width: 500px;
  grid-column: 2;
  grid-row: 1 / 6;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.google-verified p {
  margin-bottom: 30px;
}

.google-verified p strong {
  font-size: 1.2rem;
  color: #29abe2;
}

.problema {
  max-width: 1080px;
  margin: 0 auto 50px auto;
  display: grid;
  grid-template-columns: auto 1fr;
}

.problema-img {
  max-width: 400px;
  grid-column: 2;
  grid-row: 1 / 5;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  border: 2px solid #29abe2;
  border-radius: 20px;
  padding: 20px;
}

.problema-img img {
  border-radius: 20px;
}

.problema h3 {
  margin-bottom: 30px;
  color: #29abe2;
  margin: 5px 0;
  font-size: 1.5rem;
}

.problema-img h3 {
  color: var(--body-color);
}

.problema ul,
.compatibilidade ul,
.beneficios ul {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 50px;
}

.problema li,
.compatibilidade li {
  margin: 15px 0;
}

.problema li::before,
.compatibilidade li::before {
  display: inline-block;
  margin: 5px 15px 5px 0;
  content: "";
  width: 15px;
  height: 3px;
  background-color: #29abe2;
}

.problema li strong {
  font-size: 1.2rem;
  color: #29abe2;
}

.compatibilidade {
  max-width: 1080px;
  margin: 0 auto 50px auto;
}

.compatibilidade li {
  font-size: 1.2rem;
}

.compatibilidade li strong {
  font-size: 1.5rem;
  color: #29abe2;
}

.como-funciona {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 1080px;
  margin: 0 auto 50px auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.como-funciona img {
  max-height: 150px;
  margin: 0 auto 20px auto;
}

.como-funciona p {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
}

.como-funciona-1 {
  background: var(--produto);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  max-width: 350px;
  height: 350px;
  padding: 20px;
}

.como-funciona-2 {
  background: linear-gradient(180deg, #29abe2 0%, #0a6288 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  max-width: 350px;
  height: 350px;
  padding: 20px;
}

.beneficios {
  max-width: 1080px;
  margin: 0 auto 50px auto;
}

.beneficios li {
  color: #29abe2;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.beneficios p {
  margin-bottom: 40px;
  font-size: 1.2rem;
}

.usos {
  max-width: 1080px;
  margin: 0 auto 120px auto;
}

.usos ul {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 50px;
}

.usos li {
  font-size: 1.2rem;
}

.usos li::before {
  display: inline-block;
  margin: 5px 15px 5px 0;
  content: "";
  width: 15px;
  height: 3px;
  background-color: #29abe2;
}

.usos li strong {
  font-size: 1.5rem;
  color: #29abe2;
}

@media (max-width: 1120px) {
  .como-funciona {
    grid-template-columns: auto;
  }

  .google-verified,
  .problema,
  .problema-img,
  .compatibilidade,
  .beneficios,
  .usos {
    margin-left: 20px;
    margin-right: 20px;
  }

  .problema-img {
    margin-left: 5px;
    min-width: 300px;
  }
}

@media (max-width: 800px) {

  .google-verified-img {
    display: none;
  }

  .google-verified {
    grid-template-columns: auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .google-verified p strong {
    font-size: 1rem;
  }

  .problema {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    justify-content: start;
    text-align: left;
    margin: 20px auto 50px auto;
  }

  .problema-img h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .problema-img {
    min-width: none;
    justify-self: center;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .compatibilidade {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .compatibilidade li,
  .compatibilidade li strong,
  .beneficios li,
  .beneficios p,
  .usos li,
  .usos li strong {
    font-size: 1rem;
  }

  .como-funciona {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .beneficios {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .beneficios li,
  .beneficios p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .problema {
    margin: 20px;
  }

  .como-funciona-1,
  .como-funciona-2 {
    max-width: 300px;
    height: 390px;
  }
}
