@charset "UTF-8";

.numero-mascara {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1080px;
  margin: 120px auto 5px auto;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.numero-mascara-img {
  justify-content: center;
  align-items: center;
  grid-row: 1 / 6;
  grid-column: 2;
  max-width: 500px;
  margin: 0 auto;
  align-self: flex-start;
}

.numero-mascara p {
  margin-bottom: 30px;
}

.numero-mascara ul {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 50px;
}

.numero-mascara li {
  margin: 15px 0;
}

.numero-mascara li::before {
  display: inline-block;
  margin: 5px 15px 5px 0;
  content: "";
  width: 15px;
  height: 3px;
  background-color: #29abe2;
}

.numero-mascara li strong {
  font-size: 1.2rem;
  color: #29abe2;
}

.como-funciona {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  max-width: 1080px;
  margin: 0 auto 50px auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.como-funciona img {
  max-height: 150px;
  margin: 0 auto 20px auto;
}

.como-funciona p {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.como-funciona-1 {
  background: var(--produto);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  height: 350px;
  padding: 20px;
}

.como-funciona-2 {
  background: linear-gradient(180deg, #29abe2 0%, #0a6288 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  height: 350px;
  padding: 20px;
}

.como-funciona-1 p, .como-funciona-2 p{
  color: #ffffff;
}

.quem-usa {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto 50px auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 0.9rem;
}

.lista-quem-usa {
  background: var(--produto);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: grid;
  width: 250px;
  height: 300px;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #29abe2;
}

.lista-quem-usa h3 {
  color: #29abe2;
  font-size: 1.2rem;
}

.lista-quem-usa p{
  color: #ffffff;
}

.quem-usa img {
  display: inline-block;
  max-width: 50px;
  margin: 0 5px;
  border-radius: 50px;
  border: 1px solid #cdcdcd;
}

.img-quem-usa {
  display: inline-block;
  justify-self: center;
  align-self: flex-end;
}

.quem-pode-usar {
  max-width: 1080px;
  margin: 0 auto 50px auto;
}

.p1 {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.p1 p {
  margin-bottom: 30px;
  color: #29abe2;
  margin: 5px 0;
}

.p2 {
  font-size: 1.2rem;
}

.recursos-avancados {
  max-width: 1080px;
  margin: 0 auto 120px auto;
}

.recursos-avancados p {
  margin-bottom: 30px;
}

.recursos-avancados ul {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 50px;
}

.recursos-avancados li {
  margin: 15px 0;
}

.recursos-avancados li::before {
  display: inline-block;
  margin: 5px 15px 5px 0;
  content: "";
  width: 15px;
  height: 3px;
  background-color: #29abe2;
}

.recursos-avancados li strong {
  font-size: 1.2rem;
  color: #29abe2;
}

@media (max-width: 1120px) {
  .numero-mascara,
  .quem-usa2,
  .quem-pode-usar,
  .recursos-avancados {
    margin-left: 20px;
    margin-right: 20px;
  }
  .como-funciona {
    grid-template-columns: 350px;
  }
}

@media (max-width: 800px) {

  .numero-mascara {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }

  .numero-mascara-img {
    display: none;
  }

  .footer-fundo {
    padding: 10px 30px;
  }
}
