.encerrar {
  .delete-btn {
    border-radius: 6px;
    border: 2px solid red;
    padding: 7px 14px;
    font-size: 16px;
    font-weight: 500;
  }

  i {
    font-size: 20px;
    color: red;
    margin-right: 10px;
  }
}
