.form-usuario {
  margin-bottom: 40px;
  .row-form {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 20px;

    // TABLET
    @include mq(m) {
      max-width: 100%;
    }

    // MOBILE
    @include mq(s) {
      max-width: 100%;
      grid-template-columns: 1fr;
    }
  }

  input {
    width: 100%;

    &:disabled {
      border-color: #919191;
      background: #b9b9b9;
    }
  }

  label {
    margin-top: 0;
  }

  .btn-container {
    button:disabled {
      background: #919191;
      cursor: default;
    }

    // TABLET
    @include mq(m) {
      text-align: center;
    }

    // MOBILE
    @include mq(s) {
      text-align: center;
    }
  }
}

button:disabled {
  background: #cccccc;
  cursor: default;
  border: 2px solid #919191 !important;
}

button:disabled:hover{
  background: #cccccc !important;
  cursor: default;
  border: 2px solid #919191 !important;
}
