.erro-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.texto-erro {
  font-size: 20px;
}

.titulo404 {
  font-size: 58px;
}
